<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link real="stylessheet" href="{ { url_for('static', filename='estilos.css') }}">
   <title>Colegio San Miguel</title>
</head>
<body>
    <form action="http://localhost:5000/" method="POST"></form>
        <h3 style="text-align:center">Inicio de sesion</h3>
        <label for="mail">Email:</label><br>
        <input type="email" name="correo" placeholder="Ingrese email" required /><br>

        <label for="contraseña">Contrasenia:</label><br>
        <input type="password" name="password" id=password placeholder="Ingrese contrasenia" required /><br>

        <label for="rol">Rol:</label><br>
        <input type="radio" id="rol-padre" name="rol" value="padre"required>
        <label for="rol_padre">Padre</label><br>

        <input type="radio" id="rol-preceptor" name="rol" value="preceptor" required>
        <label for="rol_preceptor">Preceptor</label><br>
        <input type = "submit" value ="Iniciar sesión"/>
    </form>
</body>