{% extends "base_template2.html" %}
{% block title %}Seleccionar Curso{% endblock %}
{% block content %}
<div id="titulo">
    <h1>Realizar Informe</h1>
</div>
<div class="container" id="opciones">
    <form method="POST" action="http://localhost:5000/Informe" class="formulario">
        <label for="curso">Ingrese numero de curso:</label>
        <select name="curso" id="curso">
            {% for curso in cursos %}
                <option value="{{ curso.id }}">{{ curso.id }}</option>
            {% endfor %}
        </select><br>
        <div class="container">
            <button type="submit" class="boton" id="generar">Generar Listado</button>
        </div>
    </form>
</div>
{% endblock %}
